In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import os
import pandas as pd
import matplotlib as plt
import numpy as np

pd.set_option("display.float_format","{:.2f}".format)

In [3]:
file_name = "Total_Construction_Cost_of_Healthcare_Projects.csv"
df = pd.read_csv(file_name)
df.head()

,County,Data Generation Date,OSHPD Project Status,Total Costs of OSHPD Projects,Number of OSHPD Projects,Collection of Counties
0,01 - Alameda,9/30/2013,In Review,$50914315.00,45,Bay Area Counties
1,01 - Alameda,9/30/2013,Pending Construction,$840182510.04,126,Bay Area Counties
2,01 - Alameda,9/30/2013,In Construction,$994352932.29,181,Bay Area Counties
3,01 - Alameda,9/30/2013,In Closure,$65255928.88,81,Bay Area Counties
4,02 - Alpine,9/30/2013,In Review,$0.00,0,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16472 entries, 0 to 16471
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   County                         16472 non-null  object
 1   Data Generation Date           16472 non-null  object
 2   OSHPD Project Status           16472 non-null  object
 3   Total Costs of OSHPD Projects  16472 non-null  object
 4   Number of OSHPD Projects       16472 non-null  int64
 5   Collection of Counties         4544 non-null   object
dtypes: int64(1), object(5)
memory usage: 772.2+ KB

In [5]:
# rename column, lower case nospace

df.columns = df.columns.str.lower()
df.columns= df.columns.str.replace(" ","_")

In [6]:
# date column to datetime
df.data_generation_date=df.data_generation_date.astype("datetime64[ns]")

In [7]:
# convert total cost column to float

df.total_costs_of_oshpd_projects=df.total_costs_of_oshpd_projects.str.replace("$","")

In [8]:
df.total_costs_of_oshpd_projects=pd.to_numeric(df.total_costs_of_oshpd_projects)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16472 entries, 0 to 16471
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   county                         16472 non-null  object
 1   data_generation_date           16472 non-null  datetime64[ns]
 2   oshpd_project_status           16472 non-null  object
 3   total_costs_of_oshpd_projects  16472 non-null  float64
 4   number_of_oshpd_projects       16472 non-null  int64
 5   collection_of_counties         4544 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 772.2+ KB

In [10]:
df.head()

,county,data_generation_date,oshpd_project_status,total_costs_of_oshpd_projects,number_of_oshpd_projects,collection_of_counties
0,01 - Alameda,2013-09-30,In Review,50914315.00,45,Bay Area Counties
1,01 - Alameda,2013-09-30,Pending Construction,840182510.04,126,Bay Area Counties
2,01 - Alameda,2013-09-30,In Construction,994352932.29,181,Bay Area Counties
3,01 - Alameda,2013-09-30,In Closure,65255928.88,81,Bay Area Counties
4,02 - Alpine,2013-09-30,In Review,0.00,0,NaN

In [17]:
# handle nan
df.collection_of_counties.fillna("Other",inplace=True)
df.collection_of_counties.value_counts()

Other                           11928
Bay Area Counties                2556
Greater Sacramento Counties      1136
Greater Los Angeles Counties      852
Name: collection_of_counties, dtype: int64

## EXPORT

In [12]:
#save as sqlite db

In [13]:
#export as excel file

In [14]:
# graph